@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-4xl font-bold">Welcome to ao</h1>

<p>The hyper parallel computer running on Arweave.</p>

<p>Are you ready for an adventure?</p>

<button @onclick="GenerateWallet">Follow the white rabbit</button>